<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Awesome Counter</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">{{ visits }}</h1>
            <h3 class="mb-5">
                {{ message }}<br>
                Served by: {{ hostname }}
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#statistics">Statistics</a>
        </div>
        <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Count everything.</h2>
                    <p class="lead mb-5">That’s all that counts.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="statistics">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Awesome Counter</h3>
                <h2 class="mb-5">Statistics</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-like"></i>
                    </span>
                    <h4>
                        <strong>{{ visits }}</strong>
                    </h4>
                    <p class="text-faded mb-0">visits.</p>
                </div>
                <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-pencil"></i>
                    </span>
                    <h4>
                        <strong>{{ hostname }}</strong>
                    </h4>
                    <p class="text-faded mb-0">is serving this page.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <p class="text-muted small mb-0">Copyright &copy; 2020 Awesome Counter</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/stylish-portfolio.min.js"></script>

    <script>/** JS：Area */
    </script>
    <style>
        /** CSS：Area */
    </style>
</body>

</html>